<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('../components/head.html') -%>
        <link rel="stylesheet" href="/assets/css/admin/additem.css" />
        <link rel="stylesheet" href="/assets/css/admin/nav.css" />
    </head>
    <body>
        <%- include('../components/header.html') -%>
        <div id="contentWrap">
            <!--왼쪽 네비게이션 -->
            <nav class="left-nav">
                <ul>
                    <li>
                        <span>상품관리</span>
                        <ul class="depth1">
                            <li>
                                <a href="/admin/product">상품리스트 관리</a>
                            </li>
                            <li>
                                <a href="/admin/category">카테고리 관리</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>주문 관리</span>
                        <ul class="depth1">
                            <li>
                                <a href="/admin/order">주문 내역 관리</a>
                            </li>
                        </ul>
                    </li>
                    <!-- <li>
                        <span>사용자관리</span>
                        <ul class="depth1">
                            <li>
                                <a href="">사용자리스트 관리</a>
                            </li>
                        </ul>
                    </li> -->
                </ul>
                
            </nav>
            <!-- 오른쪽 컨텐츠영역 -->
            <div id="contentBox">
                <!-- 내역 박스 -->
                <div class="category-box">
                    <p>카테고리 추가</p>
                </div>
                <!-- 인풋 폼 -->
                <form id="addCategoryForm" method="get" enctype="multipart/form-data">
                    <ul>
                        <li>
                            <label>카테고리명</label>
                            <input type="text" class="category-name" />
                        </li>
                        <li>
                            <label>카테고리설명</label>
                            <input type="text" class="category-description" />
                        </li>
                    </ul>
                    <div class="button-wrap">
                        <button><a href="/admin/category">목록으로</a></button>
                        <button type="submit" class="save-button">저장하기</button>
                    </div>
                </form>
            </div>
        </div>
        <%- include('../components/footer.html') -%>
        <script src="/assets/js/admin/add_category.js"></script>
    </body>
</html>
