<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/css/header.css" />
  </head>
  <body>
    <header id="header">
      <div class="inner">
        <h1 class="logo">
          <a href="" alt="img "><img src="../assets/img/logo.png" /></a>
        </h1>
        <div class="category">
          <ul>
            <li><a href="#">상품전체</a></li>
            <li><a href="#">선물세트</a></li>
            <li><a href="#">테스터주문</a></li>
            <li><a href="#">대용량주문</a></li>
            <li><a href="#">커피주문</a></li>
          </ul>
        </div>
        <div class="headerRight">
          <ul>
            <li>
              <form>
                <label>
                  <input type="text" placeholder="" />
                </label>
              </form>
            </li>
            <li>
              <a href="#">
                <img
                  src="../assets/img/login.png"
                  style="width: 24px; height: 24px; display: block"
                  class="headerImg"
                />
                <span>로그인</span>
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../assets/img/mypage.png"
                  style="width: 24px; height: 24px; display: block"
                  class="headerImg"
                />
                <span>마이페이지</span>
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../assets/img/pocket.png"
                  style="width: 24px; height: 24px; display: block"
                  class="headerImg"
                />
                <span>장바구니</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
  </body>
</html>
