<footer id="footer">
  <div class="inner">
    <div class="footer-content">
      <ul>
        <li><a href="#">1:1문의</a></li>
        <li><a href="#">이용약관</a></li>
        <li><a href="#">개인정보취급방침</a></li>
        <li><a href="#">회원약관</a></li>
      </ul>
    </div>
    <div class="footer-address">
      주소: 서울특별시 성동구 아차산로 17길 48 | 통신판매업신고: 제 20310-서울성동-01584 | 국민은행 27324-05-365841 (주)
      커피런 | 개인정보관리책임자: 이혜진
    </div>
    <div class="footer-copyright">Copyright 커피런 Co., Ltd. All rights reserved.</div>
  </div>
</footer>
