<header id="header">
  <div class="inner">
    <h1 class="logo">
      <a href="/" alt="img "><img src="/assets/img/logo.png" /></a>
    </h1>
    <div class="header-right">
      <ul class="icon-menu">
        <li class="login-nav">
          <a href="/login" class="auth-btn">
            <img src="/assets/img/login.png" style="width: 24px; height: 24px; display: block" class="header-img" />
            <span class="btn-login-txt"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
