#myInfomation {
  width: 100%;
  margin-left: 80px;
  margin-top: 105px;
}
.user-h2 {
  padding: 0 0 10px 0;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 2px solid #3c3c3c;
}
.user-p {
    margin-top: 20px;
    color: #999;
}

/* 정보 */
.table-wrap{
    margin-top: 30px;
}
tr {
  display: table-row;
  border-bottom: 1px solid #dcdcdc;
  height: 80px;
}
th {
  padding: 12px 20px;
  background: #fbfbfb;
}
td input {
  width: 80%;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  margin-top: 20px;
  margin-left: 28px;
  border: none;
  background: #ececec;
  border-radius: 5px;
}
td p {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  margin-top: 20px;
  margin-left: 28px;
}

/* 버튼 */
.info-button {
margin-top: 30px;
}
.edit-btn {
  background: #288341;
  border-radius: 25px;
  border: none;
  width: 140px;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
  padding: 10px;
}
.unsubscrib {
  margin-top: 10px;
  width: 140px;
  background: #371d1d;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px;
}
