<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CoffeeLearn</title>
        <!-- Link -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
        <link rel="stylesheet" href="/public/assets/css/admin_additem.css" />
        <link rel="stylesheet" href="/public/assets/css/admin_nav.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
            rel="stylesheet"
        />
        <!-- JS -->
        <script defer src="/public/assets/js/additem.js"></script>
    </head>
    <body>
        <div id="contentWrap">
            <!--왼쪽 네비게이션 -->
            <nav class="left-nav">
                <ul>
                    <li>
                        <span>상품관리</span>
                        <ul class="depth1">
                            <li>
                                <a href="/views/admin_itemList.html">상품리스트 관리</a>
                            </li>
                            <li>
                                <a href="/views/admin_categoryList.html">카테고리 관리</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>주문 관리</span>
                        <ul class="depth1">
                            <li>
                                <a href="/views/admin_orderList.html">주문 내역 관리</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>사용자관리</span>
                        <ul class="depth1">
                            <li>
                                <a href="">사용자리스트 관리</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <!-- 오른쪽 컨텐츠영역 -->
            <div id="contentBox">
                <!-- 내역 박스 -->
                <div class="product-box">
                    <p>상품 추가</p>
                </div>
                <!-- 인풋 폼 -->
                <form class="add-item-form" method="get">
                    <ul>
                        <li>
                            <label>카테고리 선택</label>
                            <select class="select-categogy">
                                <option value="">카테고리 선택</option>
                                <option value="커피">커피</option>
                                <option value="선물세트">선물세트</option>
                            </select>
                        </li>
                        <li>
                            <label>맛선택</label>
                            <select class="select-taste" disabled>
                                <option value="">선택하세요</option>
                                <option value="달콤/쌉싸름">달콤/쌉싸름</option>
                                <option value="고소함/구수함">고소함/구수함</option>
                                <option value="묵직하고 달콤한 여운">묵직하고 달콤한 여운</option>
                                <option value="은은하고 편안함">은은하고 편안함</option>
                                <option value="상큼한 산미와 향">상큼한 산미와 향</option>
                            </select>
                        </li>
                        <li>
                            <label>원산지선택</label>
                            <select class="select-origin" disabled>
                                <option value="">선택하세요</option>
                                <option value="아시아/태평양">아시아/태평양</option>
                                <option value="중남미">중남미</option>
                                <option value="아프리카">아프리카</option>
                                <option value="블렌드">블렌드</option>
                            </select>
                        </li>

                        <li>
                            <label>상품명</label>
                            <input type="text" class="input-name" />
                        </li>
                        <li>
                            <label>가격</label>
                            <input type="number" class="input-price" />
                        </li>
                        <li>
                            <label>수량</label>
                            <input type="number" class="input-amount" />
                        </li>
                        <li>
                            <label>이미지</label>
                            <input type="file" class="input-main-img" />
                        </li>
                        <li>
                            <label>설명(이미지)</label>
                            <input type="file" class="input-sub-img" />
                        </li>
                        <li>
                            <label>설명</label>
                            <input type="text" class="input-description" />
                        </li>
                        <li>
                            <label>상품노출</label>
                            <select class="select-show">
                                <option value="예">예</option>
                                <option value="아니오">아니오</option>
                            </select>
                        </li>
                    </ul>
                    <div class="submit-button">
                        <button type="submit">저장하기</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
