<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CoffeeLearn</title>
    <!-- Link -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <link rel="stylesheet" href="/public/assets/css/admin_orderlist.css" />
    <link rel="icon" href="./favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- JS -->
    <script defer src="/public/assets/js/admin_nav.js"></script>
  </head>
  <body>
    <header></header>
    <div id="content-wrap">
      <!--왼쪽 네비게이션 -->
      <nav class="left-nav"></nav>

      <!-- 오른쪽 컨텐츠영역 -->
      <div id="content-box">
        <!-- 내역 박스 -->
        <div class="order-stepbox">
          <p>주문 내역 관리</p>
          <ul class="order-step">
            <li>
              <p>0</p>
              <span>총주문수</span>
            </li>
            <li>
              <p>0</p>
              <span>상품준비중</span>
            </li>
            <li>
              <p>0</p>
              <span>상품배송중</span>
            </li>
            <li>
              <p>0</p>
              <span>배송완료</span>
            </li>
          </ul>
        </div>

        <!-- 리스트 -->
        <div class="order-list">
          <table class="order-table">
            <!-- 테이블  -->
            <thead>
              <tr>
                <th style="width: 10%">주문번호</th>
                <th style="width: 12%">주문일</th>
                <th style="width: 10%">주문자</th>
                <th>상품명/옵션</th>
                <th style="width: 8%">수량</th>
                <th style="width: 12%">주문금액</th>
                <th style="width: 12%">상태</th>
                <th style="width: 10%">취소요청</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="order-number" rowspan="1">1</td>
                <td class="order-date">2023-07-06</td>
                <td class="customer">이아롱</td>
                <td class="order-item">
                  <p class="item-name">갓볶은커피 케냐 클래식 나눔 set 300g</p>
                  <p class="option">에스프레소머신용 분쇄</p>
                </td>
                <td class="item-count">1</td>
                <td class="price">50000원</td>
                <td class="order-status">
                  <select>
                    <option value="1">상품준비중</option>
                    <option value="2">배송준비중</option>
                    <option value="3">배송완료</option>
                  </select>
                </td>
                <td class="refund-request"><button>주문 취소</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <footer></footer>
  </body>
</html>
