<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CoffeeLearn</title>
    <!-- Link -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <link rel="stylesheet" href="/public/assets/css/admin_itemlist.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- JS -->
    <script defer src="/public/assets/js/admin_nav.js"></script>
  </head>
  <body>
    <header></header>
    <div id="contentWrap">
      <!--왼쪽 네비게이션 -->
      <nav class="left-nav"></nav>
      <!-- 오른쪽 컨텐츠영역 -->
      <div id="contentBox">
        <!-- 내역 박스 -->
        <div class="item-box">
          <p>상품리스트 관리</p>
          <div class="button-box">
            <a href="admin_additem.html"><button>상품 추가</button></a>
          </div>
        </div>

        <!-- 리스트 -->
        <div class="order-list">
          <table class="order-table">
            <thead>
              <tr>
                <th style="width: 14%">번호</th>
                <th style="width: 14%">카테고리</th>
                <th>상품명</th>
                <th style="width: 14%">가격</th>
                <th style="width: 14%">상품삭제</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="item-number">1</td>
                <td class="category">블렌드 커피</td>
                <td class="item-name"><a href="#">미미 미떼</a></td>
                <td class="item-price">2800원</td>
                <td class="item-delete"><button>상품삭제</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <footer></footer>
  </body>
</html>
