<html>
    <head>
        <!-- #ffdb7e #371d1d -->
        <title>Test</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('components/head.html') -%>
        <!-- Cutom CSS & JS -->
        <link rel="stylesheet" href="/assets/css/cart.css" />
        <script defer src="/assets/js/cart.js"></script>
        <script defer src="/assets/js/common.js"></script>
        <script defer src="/assets/js/cart_to_order_btn.js"></script>
        <style>
            #wrap {
                min-height: calc(100vh - 250px);
            }
        </style>
    </head>
    <body>
        <%- include('components/header.html') -%>
        <div id="wrap">
            <div class="inner">
                <div class="cart-nav">
                    <strong class="on">장바구니</strong>
                    <span class="material-icons">arrow_forward_ios</span>
                    <strong>주문결제</strong>
                    <span class="material-icons">arrow_forward_ios</span>
                    <strong>주문완료</strong>
                </div>
                <div class="cart-container">
                    <!-- Header -->
                    <section class="cart">
                        <div class="cart-inner">
                            <div class="cart-wrap">
                                <div class="cart-header">
                                    <div class="buttons">
                                        <button class="cart-btn btn-all-clear">전체삭제</button>
                                    </div>
                                </div>
                                <div class="cart-items">
                                    <div class="cart-item">
                                        <div class="cart-details">
                                            <!-- <div class="thum">
                                                <img src="/assets/img/items/item_main_1.jpg" />
                                            </div> -->
                                            <div class="cart-overview">
                                                <div class="cart-overview-header">
                                                    <button class="btn-clear">
                                                        <span class="material-icons backspace">backspace</span>
                                                    </button>
                                                </div>
                                                <div class="cart-overview-detail">
                                                    <div class="cart-overview-info">
                                                        <b class="item-name">커피이름</b>
                                                        <span class="option">분쇄 옵션 <em>커피 옵션</em></span>
                                                    </div>
                                                    <div class="cart-overview-price"></div>
                                                    <div class="amount-select" id="amountSelect">
                                                        <button type="button" aria-label="수량내리기" class="down-btn">
                                                            -
                                                        </button>
                                                        <span class="amount-count">1</span>
                                                        <button type="button" aria-label="수량올리기" class="up-btn">
                                                            +
                                                        </button>
                                                    </div>
                                                    <div class="item-total-price">
                                                        <span class="price-current-total">total원</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="payment">
                                <div class="price-total-wrap">
                                    <div class="all-price">
                                        <b>총 결제 금액</b>
                                        <span>원</span>
                                    </div>
                                    <div class="origin-price">
                                        <b>상품금액</b>
                                        <span>원</span>
                                    </div>
                                    <div class="discount-amount">
                                        <b>배송비</b>
                                        <span>3000원</span>
                                    </div>
                                </div>
                                <button class="btn-payment-final">주문하기</button>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <!-- footer -->
        <%- include('components/footer.html') -%>
    </body>
</html>
