<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/views/css/finish_signup.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <link rel="icon" href="views/img/favicon.png" />
    <title>회원가입 성공</title>
  </head>
  <body>
    <div id="Main">
      <div id="BeanPic">
        <img src="views/img/FinishSignupPic.png" alt="" />
      </div>
      <div id="Text">
        <h3>회원가입이 완료 되었습니다.</h3>
      </div>
      <button id="LoginButton" onclick="location.href='login.html'">
        로그인 하기
      </button>
    </div>
  </body>
</html>
