<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/assets/css/finish_signup.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
        <link rel="icon" href="/assets/img/favicon.png" />
        <%- include('components/head.html') -%>

        <title>회원가입 성공</title>
    </head>
    <body>
        <%- include('components/header.html') -%>
        <div id="wrap">
            <div id="main">
                <div id="meanPic">
                    <img src="/assets/img/FinishSignupPic.png" alt="" />
                </div>
                <div id="text">
                    <h3>회원가입이 완료 되었습니다.</h3>
                </div>
                <button id="loginButton" onclick="location.href='login.html'">로그인 하기</button>
            </div>
        </div>
        <%- include('components/footer.html') -%>

    </body>
</html>
