<html>
  <head>
    <title>Test</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('components/head.html') -%>
    <!-- Cutom CSS & JS -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/main_tab.css" />

    <style>
      #wrap {
        min-height: calc(100vh - 250px);
      }
    </style>
  </head>
  <body>
    <%- include('components/header.html') -%>
    <div id="wrap">
      <!-- SECTION: VISUAL -->
      <section class="visual">
        <div class="youtube-area">
          <video id="video" muted autoplay loop>
            <source src="/assets/img/video/main_visual.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="youtube-cover">
          <div class="text">
            <h2>커피런의 뛰어난 원두로<br />나만의 커피 취향을 발견해보세요</h2>
          </div>
        </div>
      </section>

      <!-- 원두 추천 -->
      <section class="pick" id="pick">
        <div class="inner">
          <div class="side-nav">
            <div class="title">
              <h2>추천 원두 PICK!</h2>
              <a href="items.html">
                <strong>더보기</strong>
                <span class="material-icons">arrow_right_alt</span>
              </a>
            </div>
            <!-- 맛 선택 -->
            <div class="tab-box">
              <label class="tab-label on">
                <input type="radio" name="taste" data-taste="달콤 쌉싸름" checked />
                <div class="tab tab--main">
                  <div class="material-icons">radio_button_unchecked</div>
                  <p>달콤 쌉싸름</p>
                </div>
              </label>
              <label class="tab-label">
                <input type="radio" name="taste" data-taste="고소함, 구수함" />
                <div class="tab tab--main">
                  <div class="material-icons">radio_button_unchecked</div>
                  <p>고소함, 구수함</p>
                </div>
              </label>
              <label class="tab-label">
                <input type="radio" name="taste" data-taste="묵직하고 달콤한 여운" />
                <div class="tab tab--main">
                  <div class="material-icons">radio_button_unchecked</div>
                  <p>묵직하고 달콤한 여운</p>
                </div>
              </label>
              <label class="tab-label">
                <input type="radio" name="taste" data-taste="은은하고 편안함" />
                <div class="tab tab--main">
                  <div class="material-icons">radio_button_unchecked</div>
                  <p>은은하고 편안함</p>
                </div>
              </label>
              <label class="tab-label">
                <input type="radio" name="taste" data-taste="상큼한 산미와 향" />
                <div class="tab tab--main">
                  <div class="material-icons">radio_button_unchecked</div>
                  <p>상큼한 산미와 향</p>
                </div>
              </label>
            </div>
          </div>

          <div class="item-box" id="pickItemBox"></div>
        </div>
      </section>

      <!-- 블렌드 커피만 모았어요! -->
      <section class="blend" id="blend">
        <div class="inner">
          <div class="title">
            <h2>블렌드 커피만 모았어요!</h2>
            <a href="#">
              <strong>더보기</strong>
              <span class="material-icons">arrow_right_alt</span>
            </a>
          </div>
          <div class="item-box" id="blendItemBox"></div>
        </div>
      </section>

      <!-- 배너 -->
      <section class="banner">
        <div class="inner">
          <a href="items">
            <h3>커피런에서 다양한 커피를 만나보세요</h3>
            <div>
              <p>전체 상품 보기</p>
              <span class="material-icons">arrow_right_alt</span>
            </div>
          </a>
        </div>
      </section>

      <!-- ORIGIN 나라별커피 -->
      <section class="origins">
        <div class="inner">
          <div class="title">
            <h2>나라별 커피원두</h2>
            <a href="#">
              <strong>더보기</strong>
              <span class="material-icons">arrow_right_alt</span>
            </a>
          </div>
          <ul class="origin-ul">
            <li class="origin-list" id="africa-origin">
              <div class="img-wrap">
                <div class="origin-img"></div>
                <div class="text-wrap">
                  <h3 class="origin">아프리카</h3>
                </div>
              </div>
              <ul class="origin-items"></ul>
            </li>
            <li class="origin-list" id="asia-origin">
              <div class="img-wrap">
                <div class="origin-img"></div>
                <div class="text-wrap">
                  <h3 class="origin">아시아/태평양</h3>
                </div>
              </div>
              <ul class="origin-items"></ul>
            </li>
            <li class="origin-list" id="latin-america-origin">
              <div class="img-wrap">
                <div class="origin-img"></div>
                <div class="text-wrap">
                  <h3 class="origin">중남미</h3>
                </div>
              </div>
              <ul class="origin-items"></ul>
            </li>
          </ul>
        </div>
      </section>

      <!-- 선물하기 -->
      <section id="gift" class="gift">
        <div class="swiper gift-swiper">
          <div class="title ">
            <h2>소중한 사람에게 선물하세요!</h2>
            <a href="#">
              <strong>더보기</strong>
              <span class="material-icons">arrow_right_alt</span>
            </a>
          </div>
          <div class="swiper-wrapper" id="giftSwiperWrapper"></div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-prev">
          <span class="material-icons">arrow_back_ios</span>
        </div>
        <div class="swiper-next">
          <span class="material-icons">arrow_forward_ios</span>
        </div>
      </section>
    </div>
    <!-- footer -->
    <%- include('components/footer.html') -%>
    <!-- top버튼 -->
    <%- include('components/totop.html') -%>
    <script src="/assets/js/common.js"></script>
    <script src="/assets/js/totop.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
