<html>
    <head>
        <title>Test</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('components/head.html') -%>
        <!-- Cutom CSS & JS -->
        <link rel="stylesheet" href="/assets/css/main.css" />
        <script defer src="/assets/js/main.js"></script>
        <script defer src="/assets/js/totop.js"></script>
    </head>
    <body>
        <%- include('components/header.html') -%>
        <div>
            <!-- SECTION : VISUAL-->
            <section class="visual">
                <div class="youtube-area">
                    <div id="player"></div>
                </div>
                <div class="youtube-cover"></div>
                <div class="visual-text">
                    <h2>커피런의 뛰어난 원두로<br />나만의 커피 취향을 발견해보세요</h2>
                </div>
            </section>

            <!-- 원두 추천 -->
            <section class="pick">
                <div class="inner">
                    <h2>추천 원두 PICK!</h2>
                    <div class="swiper pick-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><a href="#" class="btn on">첫구매 추천</a></div>
                            <div class="swiper-slide"><a href="#" class="btn">달콤 쌉싸름</a></div>
                            <div class="swiper-slide"><a href="#" class="btn">고소함, 구수함</a></div>
                            <div class="swiper-slide"><a href="#" class="btn">묵직, 달콤한 여운</a></div>
                            <div class="swiper-slide"><a href="#" class="btn">은은하고 편안한</a></div>
                            <div class="swiper-slide"><a href="#" class="btn">상큼한 산미와 향</a></div>
                        </div>
                    </div>
                    <ul class="main-ul">
                        <li class="main-list"></li>
                        <li class="main-list"></li>
                        <li class="main-list"></li>
                        <li class="main-list"></li>
                    </ul>
                </div>
            </section>

            <!-- 블렌드 커피만 모았어요! -->
            <section class="blend">
                <div class="inner">
                    <h2>블렌드 커피만 모았어요!</h2>
                    <ul class="main-ul">
                        <li class="main-list"></li>
                        <li class="main-list"></li>
                        <li class="main-list"></li>
                        <li class="main-list"></li>
                    </ul>
                </div>
            </section>

            <!-- 배너 -->
            <section class="banner">
                <div class="inner">
                    <a href="#">
                        <h3>커피런에서 다양한 커피를 만나보세요</h3>
                        <div>
                            <p>전체 상품 보기</p>
                            <span class="material-icons">arrow_forward</span>
                        </div>
                    </a>
                </div>
            </section>

            <!-- 나라별 커피 -->
            <section class="country">
                <div class="inner">
                    <h2>나라별 커피원두</h2>
                    <ul class="country-ul">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </section>

            <section class="gift">
                <div class="swiper gift-swiper">
                    <h2>소중한 사람에게 선물하세요!</h2>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#"><img src="/assets/img/gift_01.jpg" alt="추천상품1" /></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#"><img src="/assets/img/gift_02.jpg" alt="추천상품2" /></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#"><img src="/assets/img/gift_03.jpg" alt="추천상품3" /></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#"><img src="/assets/img/gift_04.jpg" alt="추천상품4" /></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#"><img src="/assets/img/gift_05.jpg" alt="추천상품5" /></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-prev">
                    <span class="material-icons">arrow_back_ios</span>
                </div>
                <div class="swiper-next">
                    <span class="material-icons">arrow_forward_ios</span>
                </div>
            </section>
        </div>
        <%- include('components/footer.html') -%> <%- include('components/totop.html') -%>
    </body>
</html>
