<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('components/head.html') -%>
    <link rel="stylesheet" href="/assets/css/totop.css" />
    <link rel="stylesheet" href="/assets/css/items.css" />
    <link rel="stylesheet" href="/assets/css/items_list.css" />
    <link rel="stylesheet" href="/assets/css/items_info.css" />

    <!-- JS -->
    <script defer src="/assets/js/totop.js"></script>
    <script defer src="/assets/js/items_info.js"></script>

    <style>
      #wrap {
        min-height: calc(100vh - 250px);
      }
    </style>
</head>

<body>

  <!--header-->
  <%- include('components/header.html') -%>

    <div id="wrap">
      <!--sub-top-->

      <div class="sub-top">

        <div class="sub-top-img"><img src="/assets/img/items/item_main_1.jpg" alt="item_main_1"></div>

        <div class="sub-detail" id="sub-detail">

          <span class="items-name">상품명을 여기에 적어주세요.</span><br>
          <span class="items-discount">31%</span>
          <span class="items-price">3,400원</span><br>
          <span class="delivery-fee">배송비</span><span class="fee-info">택배 3,000원 / 주문시결제(선결제)</span><br>



          <div class="select-box option-select-box" id="optionSelectBox">
            <strong>분쇄 옵션</strong>
            <div class="option-select">
              <select name="optionSnoInput" class="select-menu">
                <option value="">= 분쇄 옵션 선택 =</option>
                <option value="분쇄 안함(원두상태)">분쇄 안함(원두상태)</option>
                <option value="드립용 분쇄(커피메이커 겸용)">드립용 분쇄(커피메이커 겸용)</option>
                <option value="모카포트용 분쇄">모카포트용 분쇄</option>
                <option value="에스프레소머신용 분쇄">에스프레소머신용 분쇄</option>
                <option value="프렌치프레스용 분쇄">프렌치프레스용 분쇄</option>
                <option value="더치용 분쇄">더치용 분쇄</option>
              </select>
            </div>
          </div>

          <div class="select-box amount-select-box" id="amountSelectBox">
            <strong>수량 선택</strong>
            <div class="amount-select" id="amountSelect">
              <button type="button" aria-label="수량내리기" disabled="" class="down-btn">-</button>
              <span class="amount-count">1</span>
              <button type="button" aria-label="수량올리기" class="up-btn">+</button>
            </div>
          </div>

          <div class="select-box amount-select-box" id="amountSelectBox">
            <strong>합계</strong>
            <div class="total-cost"></div>
          </div>


          <div class="buy">
            <a href="#" class="cart">장바구니</a>
            <a href="#" class="buy-now">구매하기</a>
          </div>

        </div>

        <!--tap-->
        <div class="tab-menu out-tab-menu">
          <ul>
            <li class="btn-con">
              <input type="radio" checked name="tab-menu" id="tab-menu1">
              <label for="tab-menu1">상품정보</label>
              <div class="tab-con"><img src="/assets/img/items/item_sub_1.jpg" alt="item_sub_1"></div>
            </li>
            <li class="btn-con"><input type="radio" name="tab-menu" id="tab-menu2">
              <label for="tab-menu2">상품후기(0)</label>
              <div class="tab-con"><img src="/assets/img/review.png" alt="item_sub_2"> </div>
            </li>
            <li class="btn-con"><input type="radio" name="tab-menu" id="tab-menu3">
              <label for="tab-menu3">상품문의(0)</label>
              <div class="tab-con"><img src="/assets/img/inquiry.png" alt="item_sub_3"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- footer -->
    <%- include('components/footer.html') -%>
      <!-- top버튼 -->
      <%- include('components/totop.html') -%>
</body>

</html>