<html>

<head>
  <title>Test</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('components/head.html') -%>
    <!-- Cutom CSS & JS -->
    <link rel="stylesheet" href="/assets/css/items_list.css" />
    <link rel="stylesheet" href="/assets/css/tab.css" />
    <script defer src="/assets/js/test.js"></script>
    <script defer src="/assets/js/totop.js"></script>
</head>

<body>
  <%- include('components/header.html') -%>

    <!-- 원두 추천 -->
    <section class="pick" id="pick">
      <!-- <div class="inner">-->
      <div class="title">
        <h2>추천 원두 PICK!</h2>
        <span>당신의 입맛에 맞는 원두를 찾아보세요!</span>
      </div>
      <!--상품 리스트 갯수 및 리스트 옵션-->
      <div class="item-head">
        <span class="item-num">총 000개의 상품이 있습니다.</span>
        <span class="select-box">
          <select name="order" id="order">
            <option value="30개씩보기">30개씩보기</option>
            <option value="20개씩보기">20개씩보기</option>
            <option value="10개씩보기">10개씩보기</option>
          </select>
        </span>
      </div>
      <!--전체 메인 섹션-->
      <div class="container">
        <div class="tab-box">
          <!-- 맛 선택 -->
          <div class="tab-box1">
            <h3>필터</h3>
            <div class="tab-border"></div>
            <span>맛과 풍미</span>
            <label class="tab-label">
              <input type="radio" name="taste" data-taste="달콤 쌉싸름" />
              <div class="tab">
                <div class="material-icons">radio_button_unchecked</div>
                <p>달콤 쌉싸름</p>
              </div>
            </label>
            <label class="tab-label">
              <input type="radio" name="taste" data-taste="고소함, 구수함" />
              <div class="tab">
                <div class="material-icons">radio_button_unchecked</div>
                <p>고소함, 구수함</p>
              </div>
            </label>
            <label class="tab-label">
              <input type="radio" name="taste" data-taste="묵직하고 달콤한 여운" />
              <div class="tab">
                <div class="material-icons">radio_button_unchecked</div>
                <p>묵직하고 달콤한 여운</p>
              </div>
            </label>
            <label class="tab-label">
              <input type="radio" name="taste" data-taste="은은하고 편안함" />
              <div class="tab">
                <div class="material-icons">radio_button_unchecked</div>
                <p>은은하고 편안함</p>
              </div>
            </label>
            <label class="tab-label">
              <input type="radio" name="taste" data-taste="상큼한 산미와 향" />
              <div class="tab">
                <div class="material-icons">radio_button_unchecked</div>
                <p>상큼한 산미와 향</p>
              </div>
            </label>
          </div>
          <!--생산지 선택-->
          <div class="tab-box2">
            <div class="tab-border"></div>
            <span>생산지</span>
            <label class="tab-label">
              <input type="radio" name="origin" data-origin="아시아/태평양" />
              <div class="tab">
                <div class="material-icons">radio_button_unchecked</div>
                <p>아시아/태평양</p>
              </div>
            </label>
            <label class="tab-label">
              <input type="radio" name="origin" data-origin="중남미" />
              <div class="tab">
                <div class="material-icons">radio_button_unchecked</div>
                <p>중남미</p>
              </div>
            </label>
            <label class="tab-label">
              <input type="radio" name="origin" data-origin="아프리카" />
              <div class="tab">
                <div class="material-icons">radio_button_unchecked</div>
                <p>아프리카</p>
              </div>
            </label>
            <label class="tab-label">
              <input type="radio" name="origin" data-origin="블렌드" />
              <div class="tab">
                <div class="material-icons">radio_button_unchecked</div>
                <p>블렌드</p>
              </div>
            </label>
          </div>
        </div>
        <!--상품 리스트-->
        <div class="item-box" id="pickItemBox">
          <div class="item-wrap">
            <div class="item-list">
              <a href="#">
                <div class="img-box">
                  <img class="main-img" src="/assets/img/items/item_main_1.jpg" />
                </div>
                <div class="detail-box">
                  <strong class="description">기분 좋은 쓴맛</strong>
                  <h3 class="name">[뉴크롭] 인도네시아 만델링 G1 수마트라</h3>
                  <div class="details">
                    <div class="sale-box">
                      <p class="sale-percent">0%</p>
                      <p class="sale-price">5,300원</p>
                    </div>
                    <button class="cart-btn"><span class="material-symbols-outlined">shopping_cart</span></button>
                  </div>
                  <p class="price">5,300원</p>
                </div>
              </a>
            </div>
            <div class="item-list">
              <a href="#">
                <div class="img-box">
                  <img class="main-img" src="/assets/img/items/item_main_2.jpg" />
                </div>
                <div class="detail-box">
                  <strong class="description">묵직한 바디와 구수한 단맛</strong>
                  <h3 class="name">[뉴크롭] 베트남 로부스타 G1 Wet Polished SC18</h3>
                  <div class="details">
                    <div class="sale-box">
                      <p class="sale-percent">0%</p>
                      <p class="sale-price">2,300원</p>
                    </div>
                    <button class="cart-btn"><span class="material-symbols-outlined">shopping_cart</span></button>
                  </div>
                  <p class="price">2,300원</p>
                </div>
              </a>
            </div>
            <div class="item-list">
              <a href="#">
                <div class="img-box">
                  <img class="main-img" src="/assets/img/items/item_main_3.jpg" />
                </div>
                <div class="detail-box">
                  <strong class="description">스모키함과 좋은 향나무의 아로마</strong>
                  <h3 class="name">[뉴크롭] 과테말라 SHB 안티구아</h3>
                  <div class="details">
                    <div class="sale-box">
                      <p class="sale-percent">0%</p>
                      <p class="sale-price">4,500원</p>
                    </div>
                    <button class="cart-btn"><span class="material-symbols-outlined">shopping_cart</span></button>
                  </div>
                  <p class="price">4,500원</p>
                </div>
              </a>
            </div>
            <div class="item-list">
              <a href="#">
                <div class="img-box">
                  <img class="main-img" src="/assets/img/items/item_main_4.jpg" />
                </div>
                <div class="detail-box">
                  <strong class="description">강렬한 바디와 기분 좋은 쓴맛</strong>
                  <h3 class="name">스타 에스프레소</h3>
                  <div class="details">
                    <div class="sale-box">
                      <p class="sale-percent">0%</p>
                      <p class="sale-price">3,200원</p>
                    </div>
                    <button class="cart-btn"><span class="material-symbols-outlined">shopping_cart</span></button>
                  </div>
                  <p class="price">3,200원</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('components/footer.html') -%> <%- include('components/totop.html') -%>
</body>

</html>