<!DOCTYPE html>

<html lang="ko">
    <head>
        <title>Test</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('components/head.html') -%>
        <!-- Cutom CSS & JS -->
        <link rel="stylesheet" href="/assets/css/order.css" />
        <script defer src="/assets/js/order.js"></script>
    </head>
    <body>
        <%- include('components/header.html') -%>
        <div class="box-inner">
            <div class="container">
                <ul id="mypageSubMenu">
                    <h2 class="mypage-h2">마이페이지</h2>
                    <li class="main-li">
                        <span class="title">나의쇼핑</span>
                        <hr />
                        <ul class="sub-depth1">
                            <li>
                                <a href="" class="active">- 주문목록/배송조회</a>
                            </li>
                            <li><a href="" class="active">- 취소/반품/교환 내역</a></li>
                            <li><a href="" class="active">- 환불/입금 내역</a></li>
                        </ul>
                    </li>
                    <li class="main-li">
                        <span class="title">혜택관리</span>
                        <hr />
                        <ul class="sub-depth1">
                            <li><a href="" class="active">- 쿠폰 내역</a></li>
                            <li><a href="" class="active">- 포인트 내역</a></li>
                        </ul>
                    </li>
                    <li class="main-li">
                        <span class="title">나의정보</span>
                        <hr />
                        <ul class="sub-depth1">
                            <li><a href="" class="active">- 회원 정보 변경</a></li>
                            <li><a href="" class="active">- 회원 탈퇴</a></li>
                            <li><a href="" class="active">- 배송지 관리</a></li>
                        </ul>
                    </li>

                    <li class="main-li">
                        <span class="title">상품문의</span>
                        <hr />
                        <ul class="sub-depth1">
                            <li><a href="" class="active">- 1:1문의하기</a></li>
                            <li><a href="" class="active">- 문의내역 확인</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="order-inner">
                    <div class="order-check">
                        <h2>주문/배송 조회</h2>
                        <div class="order-box">
                            <ul class="order-ul">
                                <li>
                                    <p>0</p>
                                    주문접수
                                </li>
                                <li class="material-icons arrow-li">arrow_forward_ios</li>
                                <li>
                                    <p>0</p>
                                    결제완료
                                </li>
                                <li class="material-icons arrow-li">arrow_forward_ios</li>
                                <li>
                                    <p>0</p>
                                    배송준비중
                                </li>
                                <li class="material-icons arrow-li">arrow_forward_ios</li>
                                <li>
                                    <p>0</p>
                                    배송중
                                </li>
                                <li class="material-icons arrow-li">arrow_forward_ios</li>
                                <li>
                                    <p>0</p>
                                    배송완료
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="search-form">
                        <div class="form-search">
                            <span class="check">조회</span>
                            <button class="period-btn" id="btnToday" type="radio">오늘</button>
                            <button class="period-btn" id="btnWeek" type="radio">7일</button>
                            <button class="period-btn" id="btnMonth" type="radio">1개월</button>
                            <button class="period-btn" id="btn3Month" type="radio">3개월</button>
                            <button class="period-btn" id="btnYear" type="radio">1년</button>
                            <label for="start-date"></label>
                            <input type="date" id="start-date" />
                            <span class="wave">~</span>
                            <label for="end-date"></label>
                            <input type="date" id="end-date" />

                            <button id="search-button"></button>
                        </div>
                    </div>
                    <div class="order-list">
                        <span>내역 총 <strong>0</strong>건</span>
                        <table id="order-list">
                            <thead>
                                <tr>
                                    <th>상품번호/주문일</th>
                                    <th>상품명/옵션</th>
                                    <th>수량</th>
                                    <th>상품금액</th>
                                    <th>주문 상태</th>
                                    <th>배송 상태</th>
                                    <th>취소 요청</th>
                                    <th>주문 수정</th>
                                </tr>
                            </thead>
                            <tbody id="order-rows"></tbody>
                            <th colspan="8" style="text-align: center" class="empty-order">주문 내역이 없습니다</th>
                            <!-- td 존재 -->
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- 모달 만들기 -->
        <%- include('order_modify.html') -%> <%- include('components/footer.html') -%>
    </body>
</html>
