<!DOCTYPE html>

<html lang="ko">
    <head>
        <title>Test</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('head.html') -%>
        <!-- Cutom CSS & JS -->
        <link rel="stylesheet" href="/assets/css/order_complete.css" />
    </head>
    <body></body>
    <%- include('components/header.html') -%>
    <div class="complete-box">
        <img src="../assets/img/three_coffee.png" class="three-coffee" />
        <p class="complete-p">주문이 완료 되었습니다</p>
        <a href="/"><button class="complete-btn">쇼핑계속하기</button></a>
        <%- include('components/footer.html') -%>
    </div>
</html>
