<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/views/css/login.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <link rel="icon" href="/views/img/favicon.png" />
    <!-- 오류 처리 이벤트 jquery -->
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>

    <title>회원가입</title>
  </head>
  <body>
    <section class="login_form">
      <h1>회원가입</h1>
      <form name="form" id="register_form" onsubmit="return SignUp()">
        <!-- 필요시 사용:onsubmit="return SignUp()" -->
        <!-- 아이디 -->
        <div class="int_area">
          <input type="text" name="id" id="id" autocomplete="off" required />
        <label for="id" class="user_idtext">아이디 (e-mail) <span class="required-asterisk">*</span></label>
        
        </div>

        

        <!-- 비밀번호 -->
        <div class="int_area">
          <input
            type="password"
            name="pw"
            id="pw"
            autocomplete="off"
            required
          />
          <label for="pw">비밀번호  <span class="required-asterisk">*</span></label>
        </div>
        <!-- 비밀번호 확인 -->
        <div class="int_area">
          <input
            type="password"
            name="pw_check"
            id="pw_check"
            autocomplete="off"
            required
          />
          <label for="pw_check" class="pw_check_label">비밀번호 확인  <span class="required-asterisk">*</span></label>
        </div>
        <!-- <input
            type="submit"
            class="pw_checking"
            value="검사"
          /> 
          <span id="check"></span> -->
        <!-- 비밀번호, 확인 일치 불일치 -->
        <!-- </div> -->
        <!-- 휴대폰 번호 -->
        <div class="int_area">
          <!-- 2nd class 필요시 추가 -> div_phone -->
          <input
            type="text"
            name="phone_number"
            id="phone_number"
            autocomplete="off"
            required
          />
          <label for="phone_number" class="user_idtext">휴대폰 번호  <span class="required-asterisk">*</span></label>
        </div>

        <div class="int_area">
          <input
            type="text"
            name="name"
            id="name"
            autocomplete="off"
            required
          />
          <label for="name" class="user_idtext"> 이름  <span class="required-asterisk">*</span></label>
        </div>
        <!-- 주소 -->
        <div class="int_area">
          <input
            type="text"
            name="address"
            id="address"
            autocomplete="off"
            required
          />
          <label for="address" class="address">주소  <span class="required-asterisk">*</span></label>
        </div>
        <!-- 상세 주소 -->
        <div class="int_area">
          <input
            type="text"
            name="detailed_address"
            id="detailed_address"
            autocomplete="off"
            required
          />
          <label for="detailed_address" class="user_idtext">상세 주소  <span class="required-asterisk">*</span></label>
        </div>
        <div class="btn_area">
          <!-- 비밀번호 일치 불일치를 보여줌 -->
          <p id="result"></p>
          <button type="button" class="btn1">회원가입</button>
          <!-- 버튼 누르면 회원가입완료 페이지로 넘어가야함 -->
        </div>
      </form>
    </section>
  </body>
  <!-- kakao API -->
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <!-- kakao API -->
  <script src="/views/js/address_kakao.js"></script>
  <!-- 빈칸 경고  -->
  <script src="/views/js/signup_warning.js"></script>
  <!-- pw <-> pw_check 일치 여부 , 모든 칸 작성시 버튼 활성화-->
  <script src="/views/js/correct_password.js"></script>
  <!-- 정보 데이터 백으로 넘기기 -->
  <script src="/views/js/date.js"></script>
</html>

<!-- 빈칸 경고는 회원가입 창에선 필요 없을 거 같긴 함 -->
