<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Coffee Learn</title>

  <!-- Open Graph -->
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Coffee Learn" />
  <meta property="og:title" content="Coffee Learn" />
  <meta property="og:description" content="커피런에서, 커피의 맛을 배우다." />
  <meta property="og:image" content="./asset/images/coffeeLearn_seo.png" />

  <!-- Link -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
  <link rel="icon" href="./favicon.png" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <link rel="stylesheet" href="/public/assets/css/common.css" />
  <link rel="stylesheet" href="/public/assets/css/totop.css" />
  <link rel="stylesheet" href="/public/assets/css/items.css" />
  <link rel="stylesheet" href="/public/assets/css/banner.css" />
  <link rel="stylesheet" href="/public/assets/css/sidemenu.css" />
  <link rel="stylesheet" href="/public/assets/css/subitems.css" />


  <!-- JS -->

  <script defer src="./js/header.js"></script>
  <script defer src="./js/footer.js"></script>
  <script defer src="./js/totop.js"></script>
  <script defer src="/public/assets/js/items.js"></script>
  <script defer src="/public/assets/js/subitems.js"></script>




</head>

<body>

  <!--header-->
  <header></header>

  <!--sub-top-->

  <div class="sub-top">
    <div class="sub-top-img"><img src="/public/assets/img/item_main_1.jpg" alt="item_main_1"></div>

    <div class="sub-top-detail">
      <span class="items-name">상품명을 여기에 적어주세요.</span><br>
      <span class="items-discount">31%</span>
      <span class="items-price">3,400원</span><br>
      <span class="delivery-fee">배송비</span><span class="fee-info">택배 3,000원 / 주문시결제(선결제)</span><br>
      <span class="items-option">옵션</span>
      <select class="grind">
        <option value="value1">=분쇄 옵션 선택=</option>
        <option value="value2">원두상태(분쇄안함)</option>
        <option value="value3">드립용 분쇄(커피메이커 겸용)</option>
        <option value="value2">모카포트용 분쇄</option>
        <option value="value3">에스프레소머신용 분쇄</option>
        <option value="value2">프렌치프레스용 분쇄</option>
        <option value="value3">더치용 분쇄</option>
      </select>
      <div class="buy">
        <div class="cart">장바구니</div>
        <div class="buy-now">구매하기</div>
      </div>
    </div>




    <!--tab-->
    <div class="tab inner">
      <button class="tablinks" onclick="openTab(event, 'tab1')">Tab 1</button>
      <button class="tablinks" onclick="openTab(event, 'tab2')">Tab 2</button>
      <button class="tablinks" onclick="openTab(event, 'tab3')">Tab 3</button>
    </div>

    <!-- 탭 내용 -->
    <div id="tab1" class="tabcontent">
      <h3>상품정보</h3>
      <p><img src="/public/assets/img/item_sub_1.jpg" alt="item_sub_1"></p>
    </div>

    <div id="tab2" class="tabcontent">
      <h3>상품후기(0)</h3>
      <p>This is the content of Tab 2.</p>
    </div>

    <div id="tab3" class="tabcontent">
      <h3>상품문의(0)</h3>
      <p>This is the content of Tab 3.</p>
    </div>