<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Shopping Mall</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <!-- Daum 주소 API 사용하기 위한 파일 -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="/assets/css/test.css" />
  </head>
  <body>
    <!-- 헤더 -->
    <nav role="navigation" aria-label="main navigation">
      <div>
        <div>
          <a href="/">
            <img src="/elice-rabbit.png" width="30" height="30" />
            <span>Shopping Mall</span>
          </a>

          <a
            role="button"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div aria-label="breadcrumbs">
          <ul id="navbar">
            <li>
              <a href="/cart" aria-current="page">
                <span>
                  <i></i>
                </span>
                <span>카트</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- 배송지 정보 입력 박스 -->
    <section>
      <div>
        <div>
          <div>
            <p>장바구니 &nbsp; &gt;</p>
          </div>
          <div>
            <p>주문결제</p>
          </div>
          <div>
            <p>&gt; &nbsp;주문완료</p>
          </div>
        </div>

        <div>
          <div>
            <!-- 배송지 정보 -->
            <p>배송지정보</p>
            <div>
              <div>
                <label for="receiverName">이름</label>
              </div>
              <div>
                <div>
                  <input
                    id="receiverName"
                    type="text"
                    placeholder="받는 분 이름을 입력해 주세요."
                    autocomplete="on"
                  />
                </div>
              </div>
            </div>

            <div>
              <div>
                <label for="receiverPhoneNumber">연락처</label>
              </div>
              <div>
                <div>
                  <input
                    id="receiverPhoneNumber"
                    type="number"
                    placeholder="- 없이 입력해 주세요."
                    autocomplete="on"
                  />
                </div>
              </div>
            </div>

            <div>
              <div>
                <label for="address2">주소</label>
              </div>
              <div>
                <div>
                  <input
                    id="postalCode"
                    type="text"
                    placeholder="주소찾기를 클릭해 주세요."
                    readonly
                  />
                </div>
                <div>
                  <button id="searchAddressButton">
                    주소찾기
                  </button>
                </div>
              </div>
            </div>

            <div>
              <div></div>
              <div>
                <div>
                  <input
                    id="address1"
                    type="text"
                    placeholder=""
                    autocomplete="on"
                    readonly
                  />
                </div>
              </div>
            </div>

            <div>
              <div></div>
              <div>
                <div>
                  <input
                    id="address2"
                    type="text"
                    placeholder=""
                    autocomplete="on"
                  />
                </div>
              </div>
            </div>

            <div>
              <div>
                <label for="requestSelectBox">요청사항</label>
              </div>
              <div>
                <div>
                  <select id="requestSelectBox">
                    <option value="0">
                      배송시 요청사항을 선택해 주세요.
                    </option>
                    <option value="1">직접 수령하겠습니다.</option>
                    <option value="2">배송 전 연락바랍니다.</option>
                    <option value="3">부재 시 경비실에 맡겨주세요.</option>
                    <option value="4">부재 시 문 앞에 놓아주세요.</option>
                    <option value="5">부재 시 택배함에 넣어주세요.</option>
                    <option value="6">직접 입력</option>
                  </select>
                </div>
              </div>
            </div>

            <div id="customRequestContainer">
              <div>
                <div>
                  <input
                    id="customRequest"
                    type="text"
                    maxlength="50"
                    placeholder="최대 50자 입력이 가능합니다."
                    autocomplete="on"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 주문 정보 요약 -->
        <div>
          <div>
            <div>
              <p>결제정보</p>
            </div>
            <div>
              <div>
                <p>주문상품</p>
                <p id="productsTitle"></p>
              </div>
              <div>
                <p>상품총액</p>
                <p id="productsTotal"></p>
              </div>
              <div>
                <p>배송비</p>
                <p id="deliveryFee"></p>
              </div>
            </div>
            <div>
              <p>총 결제금액</p>
              <p id="orderTotal"></p>
            </div>
            <div>
              <button id="checkoutButton">
                결제하기
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
