<html>
  <head>
    <title>Test</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('components/head.html') -%>
    <!-- Cutom CSS & JS -->
    <link rel="stylesheet" href="/assets/css/main_tab.css" />
    <link rel="stylesheet" href="/assets/css/cart_modal.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <style>
      #wrap {
        min-height: calc(100vh - 250px);
      }
    </style>
  </head>
  <body>
    <%- include('components/header.html') -%>
    <div id="wrap">
      <!-- 장바구니 modal -->
      <div class="cart-modal" id="cartModal">
        <div class="cart-modal-bg" id="cartBackground"></div>
        <div class="cart-modal-content">
          <div class="cart-modal-text">
            <p class="cart-item-name">브라질 프리미엄 세하도 NY2 FC SC17/18 내추럴</p>
            <div class="option-select-box">
              <strong>분쇄 옵션</strong>
              <div class="option-select">
                <select name="optionSnoInput" class="select-menu">
                  <option value="">= 분쇄 옵션 선택 =</option>
                  <option value="분쇄 안함(원두상태)">분쇄 안함(원두상태)</option>
                  <option value="드립용 분쇄(커피메이커 겸용)">드립용 분쇄(커피메이커 겸용)</option>
                  <option value="모카포트용 분쇄">모카포트용 분쇄</option>
                  <option value="에스프레소머신용 분쇄">에스프레소머신용 분쇄</option>
                  <option value="프렌치프레스용 분쇄">프렌치프레스용 분쇄</option>
                  <option value="더치용 분쇄">더치용 분쇄</option>
                </select>
              </div>
            </div>
          </div>
          <div class="cart-modal-buttons">
            <button type="button" class="btn-cancel"><span>취소</span></button>
            <button type="button" class="btn-confirm btn-cart"><span>확인</span></button>
          </div>
        </div>
      </div>

      <!-- 원두 추천 -->
      <section class="pick" id="pick">
        <div class="inner">
          <div class="side-nav">
            <div class="title">
              <h2>추천 원두 PICK!</h2>
              <a href="items.html">
                <strong>더보기</strong>
                <span class="material-icons">arrow_right_alt</span>
              </a>
            </div>
            <!-- 맛 선택 -->
            <div class="tab-box">
              <label class="tab-label on">
                <input type="radio" name="taste" data-taste="달콤 쌉싸름" checked />
                <div class="tab tab--main">
                  <div class="material-icons">radio_button_unchecked</div>
                  <p>달콤 쌉싸름</p>
                </div>
              </label>
              <label class="tab-label">
                <input type="radio" name="taste" data-taste="고소함, 구수함" />
                <div class="tab tab--main">
                  <div class="material-icons">radio_button_unchecked</div>
                  <p>고소함, 구수함</p>
                </div>
              </label>
              <label class="tab-label">
                <input type="radio" name="taste" data-taste="묵직하고 달콤한 여운" />
                <div class="tab tab--main">
                  <div class="material-icons">radio_button_unchecked</div>
                  <p>묵직하고 달콤한 여운</p>
                </div>
              </label>
              <label class="tab-label">
                <input type="radio" name="taste" data-taste="은은하고 편안함" />
                <div class="tab tab--main">
                  <div class="material-icons">radio_button_unchecked</div>
                  <p>은은하고 편안함</p>
                </div>
              </label>
              <label class="tab-label">
                <input type="radio" name="taste" data-taste="상큼한 산미와 향" />
                <div class="tab tab--main">
                  <div class="material-icons">radio_button_unchecked</div>
                  <p>상큼한 산미와 향</p>
                </div>
              </label>
            </div>
          </div>

          <div class="item-box" id="pickItemBox"></div>
        </div>
      </section>

      <!-- 블렌드 커피만 모았어요! -->
      <section class="blend" id="blend">
        <div class="inner">
          <div class="title">
            <h2>블렌드 커피만 모았어요!</h2>
            <a href="#">
              <strong>더보기</strong>
              <span class="material-icons">arrow_right_alt</span>
            </a>
          </div>
          <div class="item-box" id="blendItemBox"></div>
        </div>
      </section>

      <!-- ORIGIN 나라별커피 -->
      <section class="origins">
        <div class="inner">
          <div class="title">
            <h2>나라별 커피원두</h2>
            <a href="#">
              <strong>더보기</strong>
              <span class="material-icons">arrow_right_alt</span>
            </a>
          </div>
          <ul class="origin-ul">
            <li class="origin-list" id="africa-origin">
              <div class="img-wrap">
                <div class="origin-img"></div>
                <div class="text-wrap">
                  <h3 class="origin">아프리카</h3>
                </div>
              </div>
              <ul class="origin-items"></ul>
            </li>
            <li class="origin-list" id="asia-origin">
              <div class="img-wrap">
                <div class="origin-img"></div>
                <div class="text-wrap">
                  <h3 class="origin">아시아/태평양</h3>
                </div>
              </div>
              <ul class="origin-items"></ul>
            </li>
            <li class="origin-list" id="latin-america-origin">
              <div class="img-wrap">
                <div class="origin-img"></div>
                <div class="text-wrap">
                  <h3 class="origin">중남미</h3>
                </div>
              </div>
              <ul class="origin-items"></ul>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <!-- footer -->
    <%- include('components/footer.html') -%>
    <!-- top버튼 -->
    <%- include('components/totop.html') -%>
    <script src="/assets/js/common.js"></script>
    <script src="/assets/js/totop.js"></script>
    <script src="/assets/js/cart_modal.js"></script>
  </body>
</html>
