<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />

        <link rel="stylesheet" href="/public/assets/css/user_infomation.css" />
        <!-- <link rel="stylesheet" href="/assets/css/login.css" /> -->
        <%- include('components/head.html') -%>
        <style>
            #wrap {
                min-height: calc(100vh - 350px);
            }
        </style>
        <title>회원 정보 변경</title>
    </head>
    <body>
        <%- include('components/header.html') -%>
        <div id="wrap">
            <div class="container">
                <ul id="subMenuMypage">
                    <h2 class="mypage-h2">마이페이지</h2>
                    <li class="mainLi">
                        <span class="title">나의쇼핑</span>
                        <hr />
                        <ul class="sub-depth1">
                            <li>
                                <a href="" class="active">주문목록/배송조회</a>
                            </li>
                            <!-- <li><a href="" class="active">- 취소/반품/교환 내역</a></li>
                    <li><a href="" class="active">- 환불/입금 내역</a></li> -->
                        </ul>
                    </li>
                    <li class="mainLi">
                        <span class="title">혜택관리</span>
                        <hr />
                        <ul class="sub-depth1">
                            <li><a href="" class="active">쿠폰 내역</a></li>
                            <!-- <li><a href="" class="active">- 포인트 내역</a></li> -->
                        </ul>
                    </li>
                    <li class="mainLi">
                        <span class="title">나의정보</span>
                        <hr />
                        <ul class="sub-depth1">
                            <li><a href="" class="active">회원정보 변경 / 회원탈퇴</a></li>
                            
                            <!-- <li><a href="" class="active">- 배송지 관리</a></li> -->
                        </ul>
                    </li>
                </ul>
                <div id="myInfomation">
                    <div class="user-h2">
                        <h2>회원정보</h2>
                    </div>
                    <div>
                        <table>
                            <colgroup>
                                <col width="25%" />
                                <col width="75%" />
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>
                                        <span class="important">이메일</span>
                                    </th>
                                    <td>
                                        <input type="hidden" name="nameId" value="이메일 적힘" />
                                    </td>
                                </tr>
                                <tr>
                                    <th><span class="important">비밀번호</span></th>
                                    <td><p>비밀번호 설정</p></td>
                                </tr>
                                <tr>
                                    <th><span class="important">이름</span></th>
                                    <td><input type="text" value="회원이름" /></td>
                                </tr>
                                <tr>
                                    <th><span class="important">휴대폰번호</span></th>
                                    <td><input type="text" value="휴대폰번호" /></td>
                                </tr>
                                <tr>
                                    <th><span class="important">주소</span></th>
                                    <td>
                                        <input
                                            type="text"
                                            name="address"
                                            id="address"
                                            autocomplete="off"
                                            required
                                            value="주소적힘"
                                        />
                                    </td>
                                </tr>
                                <tr>
                                    <th><span class="important">상세주소</span></th>
                                    <td><input type="text" value="상세주소 적힘" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="info-button">
                        <button class="edit-btn">수정완료</button>
                        <button class="unsubscrib">회원탈퇴</button>
                    </div>
                </div>
            </div>
        </div>
        <%- include('components/footer.html') -%>
    </body>
    <!-- kakao API -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- kakao API -->
    <script src="/public/assets/js/address_kakao.js"></script>
</html>

<!-- 
조회페이지 -> span
수정 -> input text 
탈퇴 -> 버튼 -> 재확인 alert -> 탈퇴 -->
