body {
    font-family: 'Noto Sans KR', sans-serif;
}

#contentWrap {
    width: 1280px;
    margin: 60px auto 60px;
    display: flex;
    justify-content: space-between;
    min-height: calc(100vh - 310px);
}
/* 오른쪽 컨텐츠 */
#rightBox {
    width: 976px;
}
.title-box > p {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
}

.button-box {
    text-align: right;
}
.button-box button {
    width: 100px;
    height: 36px;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 리스트 부분 */
a {
    color: black;
}
#productList,
#categoryList {
    margin-top: 20px;
    background-color: #fafafa;
    width: 100%;
    border-spacing: 0;
}
thead {
    height: 30px;
}
thead tr th {
    border-top: 1px solid #222222;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
}
tbody tr td {
    background-color: white;
    height: 50px;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
}

.delete-button {
    font-family: 'Noto Sans KR', sans-serif;
}

