/* 왼쪽 nav 영역 */
.left-nav {
  width: 144px;
}
.left-nav ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.left-nav > ul > li {
  margin-bottom: 30px;
}

.left-nav ul li > span {
  display: block;
  padding: 0 0 10px;
  border-bottom: 1px solid #000;
  font-weight: 600;
}
.depth1 {
  font-size: 14px;
  margin-top: 10px;
}
.depth1 li {
  margin-bottom: 10px;
}
.depth1 li a {
  text-decoration: none;
  color: #000;
}
