body {
    font-family: 'Noto Sans KR', sans-serif;
}

#content-wrap {
    width: 1280px;
    margin: 100px auto 0;
    display: flex;
    justify-content: space-between;
}
/* 오른쪽 컨텐츠 */
#content-box {
    width: 976px;
}
.product-box > p {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
}

.add-item-form {
    margin-top: 30px;
}

.add-item-form ul li label {
    display: inline-block;
    width: 140px;
    font-size: 16px;
    margin: 0 30px 16px 0;
}
select {
    width: 300px;
    height: 30px;
    padding: 0 30px 0 10px;
    font-size: 15px;
}

input {
    width: 292.8px;
    height: 30px;
    font-size: 14px;
}
