/* CART */
#wrap {
  background-color: #f5f5f5;
  padding-top: 30px;
}
button {
  cursor: pointer;
}
.cart-nav {
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  padding: 10px;
  box-sizing: border-box;
}
.cart-nav strong,
.cart-nav span {
  margin-right: 5px;
}
.cart-nav strong.on {
  font-size: 28px;
}
.cart-nav span {
  font-size: 10px;
}
.cart .cart-inner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 80px;
}
.cart .cart-inner > div {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
}
.cart .cart-inner .cart-wrap {
  flex: 1;
}
.payment-headline {
  font-size: 20px;
  margin-bottom: 10px;
}
.cart .cart-inner .cart-wrap .cart-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 15px;
}
.cart .cart-inner .cart-wrap .cart-header span {
  font-weight: 400;
}
.cart .cart-header span .cart-chk-all {
  width: 18px;
  height: 18px;
  accent-color: #288341;
  transform: translateY(3px);
  margin-right: 5px;
}
.cart .cart-header span em {
  font-style: normal;
  color: #288341;
}
.cart .cart-header .cart-btn {
  font-size: 13px;
  border: 1px solid #999;
  background-color: transparent;
  padding: 8px;
  border-radius: 5px;
  margin-left: 5px;
  transition:0.2s;
}
.cart .cart-header .cart-btn:hover{
 background: #ddd;
}
.cart .cart-items {
  max-height: 360px;
  overflow: auto;
  padding-right: 10px;
}
.cart .cart-items .cart-item {
  display: flex;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.cart .cart-items p.no-items{
  width: 100%;
  height:140px;
  line-height: 140px;
  text-align: center;
}
.cart .cart-item:last-child {
  border: none;
}
.cart .cart-item .cart-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cart .cart-item .cart-overview {
  width: 100%;
}
.cart .check-status {
  width: 30px;
}
.cart .check-status .cart-chk {
  width: 18px;
  height: 18px;
  accent-color: #288341;
}
.cart .thum {
  width: 120px;
}
.cart .thum img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 5px;
}
.cart .cart-overview .cart-overview-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.cart .cart-overview .cart-overview-header .btn-clear {
  border: none;
  background-color: transparent;
  color: #999999;
}
.cart .cart-overview-header .btn-clear span {
  font-size: 18px;
}
.cart .cart-overview-detail {
  display: flex;
  justify-content: space-between;
}
.cart .cart-inner .cart-overview-info {
  width: 250px;
}
.cart .cart-inner .cart-overview-info .option {
  display: block;
  color: #2ecc71;
  font-size: 13px;
}
.cart-overview-info .option em {
  color: #999;
}
.cart-overview-info .item-name {
  display: block;
  margin-bottom: 10px;
}
.cart .cart-overview-detail .cart-overview-price {
  text-align: right;
}
.cart .cart-overview-detail .cart-overview-price .sale {
  color: #288341;
}

.price-prev {
  color: #999999;
}
.price-current {
  font-size: 16px;
  font-weight: 500;
}
.item-total-price {
  display: flex;
  align-items: center;
}
.price-current-total {
  font-size: 18px;
  font-weight: 500;
  margin-right: 5px;
}
.cart .cart-inner .payment {
  flex-basis: 330px;
  font-size: 16px;
  max-height: 240px;
}
.cart .cart-inner .payment > div {
  margin-bottom: 30px;
}
.cart .cart-inner .payment .price-total-wrap > div {
  display: flex;
  justify-content: space-between;
}
.cart .cart-inner .payment .price-total-wrap > div b {
  font-weight: 400;
}
.cart .cart-inner .payment .price-total-wrap .current-price {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.cart .cart-inner .payment .price-total-wrap .current-price span em {
  font-style: normal;
  color: #2ecc71;
  font-size: 20px;
}
.cart .cart-inner .payment .btn-payment-final {
  background-color: #288341;
  border: none;
  width: 100%;
  padding: 20px;
  font-size: 16px;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 20px;
}

.cart .amount-select {
  width: 100px;
}
