/* HEADER */
/* class명은 snake-case로 작성하기 */
/* flex-grow 활용하기 */
/* ::before를 이용한 hover효과 구현 */
/* background-color: transparent; */
#header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #eeeeee;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}
#header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
#header .logo a {
  display: block;
  padding: 10px 0;
  margin-bottom: 10px;
}
#header .logo img {
  width: 160px;
}
#header .category {
  flex-grow: 2;
  padding-left: 70px;
}
#header .category li {
  font-size: 18px;
  margin: auto 0;
  border: 0;
  float: left;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}
#header .category ul li a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
  padding: 30px 0;
  position: relative;
}
#header .category ul li a::before {
  content: '';
  display: block;
  height: 2px;
  width: 0%;
  background: brown;
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translateX(-50%);
  transition: 0.4s;
}
#header .category ul li a:hover {
  color: brown;
  text-decoration-style: solid;
}
#header .category ul li a:hover::before {
  width: 110%;
}
#header .header-right {
  display: flex;
  align-items: center;
}
#header .header-right .search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  height: 48px;
  border-radius: 24px;
  background-color: #f6f6f6;
  margin-right: 30px;
  padding: 0 10px;
}
#header .header-right .search-form input {
  flex-grow: 1;
  text-align: right;
  border-radius: 24px 0 0 24px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  transition: 0.3s;
  outline: none;
  margin-right: 10px;
}
#header .header-right .search-form input:focus {
  height: 70%;
}
#header .header-right .search-form .search-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../img/search.png');
  border: none;
  cursor: pointer;
}
#header .header-right .search-form .search-btn:hover {
  width: 32px;
  height: 32px;
}
#header .header-right ul {
  display: flex;
}
#header .header-right ul li a {
  display: block;
  font-size: 13px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}
#header .header-right ul li a:hover {
  color: brown;
}
#header .header-right .header-img {
  margin: 6px auto;
  transition: 0.3s;
}
#header .header-right ul li a:hover .header-img {
  margin-bottom: 10px;
}
