/* HEADER */
#header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #eeeeee;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}
#header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
#header .logo a {
  display: block;
  padding: 10px 0;
  margin-bottom: 10px;
}
#header .logo a img {
  width: 160px;
}
#header .nav {
  flex-grow: 2;
}
#navList {
  display: flex;
}
#navList li {
  width: 100%;
  height: inherit;
  text-align: center;
  font-size: 18px;
  border: 1px solid #000;
}
#navList li a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid #000;
}
#navList li a::before {
  content: '';
  display: block;
  height: 3px;
  background: brown;
  position: absolute;
}
/* #header .nav ul li.on a,
#header .nav ul li a:hover {
  color: brown;
  font-weight: 500;
  text-decoration-style: solid;
} */
/* #header .nav ul li.on a::before,
#header .nav ul li a:hover::before {
  width: 80%;
} */
#header .header-right {
  display: flex;
  align-items: center;
}
#header .header-right .search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  height: 48px;
  border-radius: 24px;
  background-color: #f6f6f6;
  margin: 0 30px;
}
#header .header-right .search-form input {
  width: 200px;
  text-align: right;
  border-radius: 24px 0 0 24px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  transition: 0.3s;
  outline: none;
  padding: 10px 0px;
}
#header .header-right .search-form input:focus {
  height: 70%;
}
#header .header-right .search-form .search-btn {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('/assets/img/search.png');
  border: none;
  cursor: pointer;
}
#header .header-right .search-form .search-btn:hover {
  width: 32px;
  height: 32px;
}
#header .header-right ul {
  display: flex;
}
#header .header-right ul li a {
  display: block;
  font-size: 13px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}
#header .header-right ul li a:hover {
  color: brown;
}
#header .header-right .header-img {
  margin: 6px auto;
  transition: 0.3s;
}
#header .header-right ul li a:hover .header-img {
  margin-bottom: 10px;
}

/* items-header */
#header.items-header .nav ul {
  display: flex;
  justify-content: space-around;
  margin-left: 180px;
  margin-right: 20px;
}
#header.items-header .search-form {
  display: none;
}
