/* HEADER */
#header {
  border-bottom: 1px solid #eeeeee;
}
#header .inner {
  display: flex;
  justify-content: space-between;
  height: 100px;
}
#header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#header li {
  float: left;
}
#header .logo {
  margin: auto 0;
  margin-right: 20px;
}
#header .logo a img {
  width: 160px;
}
.category {
  margin: auto 0;
}
.category li {
  font-size: 16px;
  margin: auto 0;
  border: 0;
  float: left;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
.category ul li a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
  padding: 30px 0; /* 마우스 클릭되는 범위 넓어지도록 위,아래 패딩값 줌 */
}

.category ul li a:hover {
  color: brown;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: brown;
}
.headerRight {
  margin: auto 0;
}
.headerRight ul {
  margin: auto 0;
}
.headerRight ul li {
  margin: auto 10px;
}
.headerRight ul li a {
  text-decoration: none;
  color: inherit;
  height: 50px;
  font-size: 13px;
  /* font-size 13px로 줄임 */
}
.headerImg {
  margin: 6px auto;
  /* 마진 6px으로 수정 (간격조정) */
}
.headerRight input {
  width: 228px;
  height: 48px;
  border-radius: 24px;
  border: none;
  text-align: right;
  padding-right: 50px;
  background-color: #f6f6f6;
}
.btn_search {
  width: 25px;
  height: 25px;
  background-color: #f6f6f600;
  cursor: pointer;
  border: none;
  background-image: url(../img/search.png);
  background-size: 25px 25px;
  background-repeat: none;
  position: relative;
  left: -40px;
  bottom: -7px;
}
.loginform {
  float: right;
}
