

/*banner*/

.banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 60px;
}

.banner h1 {
	margin-bottom: 40px;
	font-size: 40px;
	font-weight: bold;
}

.banner .box {
	width: 1280px;
	height: 250px;
	border-radius: 8px;
	margin: 15px 0;
}

.banner img {
	border-radius: 8px;
}

/*main*/

.inner {
	display: flex;
	flex-direction: row;
}

/*sidemenu*/

.side-menu {
	width: 300px;
	height: 500px;
	justify-content: flex-start;
	align-items: flex-start;
	line-height: 35px;
}

.side-menu h3 {
	font-size: 26px;
	padding-top: 15px;
	padding-bottom: 10px;
	font-weight: bold;
}

.side-menu-border {
	width: 210px;
	border: 1px solid #ddd;
}

.menu {
	padding-top: 10px;
	display: flex;
	flex-wrap: wrap;
}
.menu button {
	border: none;
	background-color: #fff;
}
/*--
.menu a:hover {
	color: #288341;
}
*/

.material-symbols-outlined {
	margin: 0;
	margin-top: 20px;
	border: none;
	background-color: #fff;
}

.menu-1 {
	width: 165px;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 17px;
}

.menu .menu-2 {
	width: 165px;
	margin-left: 10px;
	font-size: 17px;
	margin-top: 10px;
}

/*container*/

.inner .container {
	line-height: 50px;
	margin-left: 50px;
}

.container .product-num {
	margin-left: 15px;
	font-size: 20px;
	padding-top: 10px;
}

.container .select-box {
	flex: none;
	margin-left: 550px;
}

.container #order {
	width: 150px;
	height: 36px;
	text-align: center;
	font-size: 14px;
	border-radius: 5px;
	border-color: #ccc;
}

.select-box .option {
	border-radius: 0px;
}

.container-border {
	width: 960px;
	border: 1px solid #ddd;
	margin-bottom: 20px;
	margin-top: 10px;
}

#container-main {
	height: 1600px;
}

.container-box {
	display: grid;
	grid-template-columns: 310px 310px 310px;
	justify-content: space-between;
	grid-template-rows: repeat(auto, 528px);
	width: 920px;
	column-gap: 20px;
	row-gap: 20px;
}

/*type1*/

.product-type1 {
	width: 300px;
	height: 528px;
	justify-content: center;
}

.product1-img {
	width: 300px;
	height: 300px;
	border-radius: 8px;
	margin: 0;
}

.product1-name {
	font-size: 20px;
	line-height: 30px;
	padding-top: 20px;
}

.product1-keyword {
	font-size: 13px;
	color: #aaa;
	line-height: 18px;
}

.product1-price {
	font-size: 25px;
	font-weight: bold;
}

.product-type1 p {
	margin: 10px 0;
}

/*type2*/

.product-type2 {
	width: 300px;
	height: 528px;
	justify-content: center;
}

.product2-img {
	width: 300px;
	height: 300px;
	border-radius: 8px;
}

.product2-name {
	font-size: 20px;
	line-height: 30px;
	padding-top: 20px;
}

.product2-discount {
	font-size: 13px;
	color: #aaa;
	line-height: 18px;
}

.product2-price {
	font-size: 25px;
	font-weight: bold;
}

.product-type2 p {
	margin: 10px 0;
}

/*type3*/

.product-type3 {
	width: 300px;
	height: 528px;
	justify-content: center;
}

.product3-img {
	width: 300px;
	height: 300px;
	border-radius: 8px;
}

.product3-name {
	font-size: 20px;
	line-height: 30px;
	padding-top: 20px;
}

.product-type3 .discount {
	font-size: 25px;
	font-weight: bold;
	color: red;
	line-height: 25px;
}

.product-type3 .discount-price {
	font-size: 25px;
	font-weight: bold;
	color: #000;
	margin-left: 10px;
	grid-column-start: 3;
}

.product-type3 p {
	margin: 10px 0;
}

.product-type3 span {
	margin: 10px 0;
}

.material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
	flex: none;
	margin-left: 150px;
}

.product-type3 .material-symbols-outlined {
	margin-left: 90px;
}
