/*sub-top*/
.sub-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.sub-top-img {
  width: 40%;
}
.sub-top-img img {
  width: 100%;
}
.sub-detail {
  width: 55%;
  padding-top: 70px;
}
.sub-detail .item-name {
  font-size: 32px;
  font-weight: 700;
}
.sub-detail .item-sale-info {
  margin-top: 10px;
  margin-bottom: 30px;
}
.sub-detail .item-discount {
  font-size: 30px;
  font-weight: 700;
  color: red;
  width: 65px;
  margin-right: 20px;
}
.sub-detail .item-discount.on{
  display: none;
}
.sub-detail .sale-price {
  font-size: 40px;
  font-weight: 700;
  width: 120px;
}
.sub-detail .origin-price-wrap{
  margin-left: 10px;
  color: #999;
  text-decoration: line-through;
}
.sub-detail .origin-price-wrap.on{
  display: none;
}
/* 판매정보 */
.sale-info-box {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 45px;
}
.sub-detail .item-delivery-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sub-detail .delivery-fee {
  font-size: 18px;
  font-weight: 500;
  color: #555;
}
.option-select-box {
  display: flex;
  justify-content: space-between;
}
.option-select-box .option-select .select-menu {
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #999;
  border-radius: 5px;
  outline: none;
  padding-left: 10px;
}

.info-txt {
  display: flex;
  justify-content: space-between;
}
.info-txt .amount-select {
  padding: 6px;
}
.info-txt .amount-select button {
  width: 35px !important;
  height: 25px !important;
  font-size: 18px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.info-txt strong {
  font-size: 18px;
  font-weight: 500;
  color: #555;
}
/* 합계 */
.total-pay-box .total {
  font-size: 20px;
}
.total-pay-box .total em {
  font-size: 25px;
  font-weight: 600;
  margin-right: 5px;
}
/* 버튼-장바구니, 구매하기 */
.buy-buttons {
  text-align: center;
  margin-top: 40px;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  padding: 0 2px;
  box-sizing: border-box;
}
.buy-buttons button {
  width: 48%;
  height: 60px;
  border: 1px solid #288341;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s;
  font-size: 20px;
}
.cart {
  background-color: #fff;
  color: #288341;
}
.buy-now {
  background-color: #288341;
  color: #fff;
}
.buy-buttons button:hover {
  background-color: #215d31;
  color: #fff;
}

/*tab*/
.tab-menu out-tabmenu {
  height: 100vh;
}
ul {
  list-style: none;
}
.tab-menu {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.btn-con {
  height: 80px;
  cursor: pointer;
}
.tab-menu ul {
  position: relative;
  height: 80px;
  display: flex;
  box-sizing: border-box;
}
.tab-menu ul li {
  width: 33.33%;
  text-align: center;
  line-height: 40px;
  font-size: 22px;
  font-weight: 700;
}
.tab-menu label {
  display: block;
  width: 100%;
  height: 80px;
  line-height: 80px;
}
.tab-menu input {
  display: none;
}

.tab-content {
	width: 100%;
	min-height: 300px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
	margin-bottom: 80px;
	box-sizing: border-box;
	padding: 30px;
}
.tab-content .tab-con.on img {
	display: block;
}
.tab-content .tab-con img {
	width: 100%;
	display: none;
}
.tab-menu label {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.tab-menu input:checked ~ label {
  background: #288341;
  color: #fff;
}
