/*main*/

.inner {
	display: flex;
	flex-direction: row;
}

/*sidemenu*/

.side_menu {
	width: 300px;
	height: 500px;

	justify-content: flex-start;
	align-items: flex-start;

	line-height: 35px;
}

.side_menu h3 {
	font-size: 26px;
	padding-top: 15px;
	padding-bottom: 10px;
	font-weight: bold;
}

.side_menu_border {
	width: 210px;
	border: 1px solid #ddd;
}

.menu {
	padding-top: 10px;
	display: flex;
	flex-wrap: wrap;
}

.menu a:hover {
	color: #288341;
}

.menu .material-symbols-outlined {
	margin: 0;
	margin-top: 20px;
}

.menu .menu_1 {
	width: 210px;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 17px;
}

.menu .menu_2 {
	width: 210px;
	margin-left: 10px;
	font-size: 17px;
	margin-top: 10px;
}

/*container*/

.inner .container {
	line-height: 50px;
	margin-left: 50px;
}

.container .product_num {
	margin-left: 15px;
	font-size: 20px;
	padding-top: 10px;
}

.container .select_box {
	flex: none;
	margin-left: 550px;
}

.container #order {
	width: 150px;
	height: 36px;
	text-align: center;
	font-size: 14px;
	border-radius: 5px;
	border-color: #ccc;
}

.select_box .option {
	border-radius: 0px;
}

.container_border {
	width: 960px;
	border: 1px solid #ddd;
	margin-bottom: 20px;
	margin-top: 10px;
}

#container_main {
	height: 1600px;
}

.container_box {
	display: grid;
	grid-template-columns: 310px 310px 310px;
	justify-content: space-between;
	grid-template-rows: repeat(auto, 528px);
	width: 920px;
	column-gap: 20px;
	row-gap: 20px;
}

/*type1*/

.product_type1 {
	width: 300px;
	height: 528px;
	justify-content: center;
}

.product1_img {
	width: 300px;
	height: 300px;
	border-radius: 8px;
	margin: 0;
}

.product1_name {
	font-size: 20px;
	line-height: 30px;
	padding-top: 20px;
}

.product1_keyword {
	font-size: 13px;
	color: #aaa;
	line-height: 18px;
}

.product1_price {
	font-size: 25px;
	font-weight: bold;
}

.product_type1 p {
	margin: 10px 0;
}

/*type2*/

.product_type2 {
	width: 300px;
	height: 528px;
	justify-content: center;
}

.product2_img {
	width: 300px;
	height: 300px;
	border-radius: 8px;
}

.product2_name {
	font-size: 20px;
	line-height: 30px;
	padding-top: 20px;
}

.product2_discount {
	font-size: 13px;
	color: #aaa;
	line-height: 18px;
}

.product2_price {
	font-size: 25px;
	font-weight: bold;
}

.product_type2 p {
	margin: 10px 0;
}

/*type3*/

.product_type3 {
	width: 300px;
	height: 528px;
	justify-content: center;
}

.product3_img {
	width: 300px;
	height: 300px;
	border-radius: 8px;
}

.product3_name {
	font-size: 20px;
	line-height: 30px;
	padding-top: 20px;
}

.product_type3 .discount {
	font-size: 25px;
	font-weight: bold;
	color: red;
	line-height: 25px;
}

.product_type3 .discount_price {
	font-size: 25px;
	font-weight: bold;
	color: #000;
	margin-left: 10px;
	grid-column-start: 3;
}

.product_type3 p {
	margin: 10px 0;
}

.product_type3 span {
	margin: 10px 0;
}

.material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
	flex: none;
	margin-left: 150px;
}

.product_type3 .material-symbols-outlined {
	margin-left: 90px;
}
