#subMenuMypage {
    display: inline-flex;
    flex-direction: column;
    margin-top: 100px;
}
.container {
    display: flex;
    margin-left: 220px;
}
.mypage-h2 {
    color: #000;
    font-size: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 60px;
}
h3 {
    color: #000;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.mainLi {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 30px;
    list-style: none;
}
.title {
    color: #000;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.sub-depth1 {
    list-style: none;
    color: #000;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 60px;

    /* border-top: 2px solid; */
}
.sub-depth1 li {
    margin-bottom: 10px;
}
hr {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 100px solid;
    border-right: 100px solid;
}
.active {
    text-decoration-line: none;
    color: #000;
    list-style: none;
}
.required-asterisk {
    color: red;
}

#userInfo {
    border-top: 1.3px solid;
    border-bottom: 1px solid;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 10px;
    margin-left: 55px;
    font-size: 18px;
    /* margin-right: px; */
}
/* 회원정보 박스 */
.info-name {
    margin: 50px;
    margin-left: 15px;
}
/* 첫번째 카테고리 */

.info-value {
    margin: 50px;
    margin-left: 15px;
}
.info-name-main {
  display: flex;
  flex-direction: column;
  width: 200px;
  float: left;
}
.info-value-main {
  display: flex;
  flex-direction: column;
  width: 200px;
  
}
#myInfomation {
    margin-top: 210px;
}
.info-button {
    margin-left: 519px;

}