#subMenuMypage {
    display: inline-flex;
    flex-direction: column;
    margin-top: 100px;
}

.container {
    display: flex;
    margin-left: 220px;
}
.mypage-h2 {
    color: #000;
    font-size: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 60px;
}
h3 {
    color: #000;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.mainLi {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 30px;
    list-style: none;
}
.title {
    color: #000;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.sub-depth1 {
    list-style: none;
    color: #000;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 60px;

    /* border-top: 2px solid; */
}
.sub-depth1 li {
    margin-bottom: 10px;
}
hr {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 100px solid;
    border-right: 100px solid;
}
.active {
    text-decoration-line: none;
    color: #000;
    list-style: none;
}
.container #nameBox {
    background-color: #faf9f6;
    width: 580px;
    height: 40px;
    padding: 30px;
    align-items: center;
    gap: 140px;
    border-radius: 10px;
    border: 10px;
    margin-top: 100px;
    margin-left: 66px;
    display: table-cell;
    vertical-align: middle;
}
#nameBox .name {
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: bold;
}
#nameBox .text {
    font-size: 12px;
}

#order {
    /* display: flex; */
    /* margin: 0 0 95px 0; */
    font-size: 0;
    border: 1px solid #dddddd;
    text-align: center;
    border-radius: 15px;
    margin-top: 10px;
    width: 580px;
    height: 40px;
    padding: 30px;
    margin-left: -30px;
}
ol {
    list-style: none;
}
.order-li-first {
    display: inline-flex;
    flex-direction: column;
    width: 10%;
    min-width: 66px;
    padding: 0 10px 0 30px;
    font-size: 13px;
    text-align: center;
}
.order-li {
    display: inline-flex;
    flex-direction: column;
    width: 10%;
    min-width: 66px;
    padding: 0 10px 0 30px;
    font-size: 13px;
    background: url(./img/mypage_arrow.png) no-repeat top 9px left 7px;
    text-align: center;
}
strong {
    display: inline-block;

    color: #222222;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 4px;
}
b {
    display: block;
    padding: 0 0 15px 0;
    font-size: 15px;
    color: #666666;
    font-weight: 400;
}
.order-h2 {
    color: #000;
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 90px;
    margin-left: -30px;
}


.required-asterisk {
    color: red;
}

#userInfo {
    border-top: 1.3px solid;
    border-bottom: 1px solid;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 100px;

    margin-top: 243px;
    margin-left: 55px;
    font-size: 18px;
}
/* 회원정보 박스 */
.info-name {
    margin: 50px;
    margin-left: 15px;
}
/* 첫번째 카테고리 */
.fitst-categories {
    margin-top: 15px;
}
.info-value {
    margin: 50px;
    margin-left: 15px;
}
.info-name-main {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.info-value-main {
  display: flex;
  flex-direction: column;
  width: 200px;
}