section h2 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.title {
  display: flex;
  position: relative;
  margin: 60px;
}
.title h2 {
  margin: auto;
}
.title a {
  position: absolute;
  display: flex;
  align-items: center;
  width: 90px;
  right: 0;
  bottom: 0;
  color: #888;
}
.title a span {
  margin-left: 5px;
  transition: 0.3s;
}
.title a:hover span {
  margin-left: 15px;
}

/* 장바구니 버튼 */
.cart-btn {
  border: none;
  cursor: pointer;
  background: #000;
  border-radius: 5px;
  padding: 10px;
}
.cart-btn.small {
  margin: 15px;
}
.cart-btn span {
  color: #fff;
  font-weight: 300;
}
.cart-btn:hover span {
  color: #bbb;
}

/* 상품 리스트 */
.item-box {
  display: flex;
  width: 100%;
  height: 500px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 0;
}
.item-box .item-list {
  width: 23%;
  border-radius: 10px;
  border: 1px solid #eee;
  margin-bottom: 30px;
  position: relative;
}
.item-box .item-list::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #ffffff;
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  animation: fade-out 0.3s ease-in 1 forwards;
}
@keyframes fade-out {
  from {
    opacity: 1;
    z-index: 0;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
.item-box .img-box {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.item-box .img-box .main-img {
  width: 100%;
  transition: 0.3s;
}
.item-box .item-list:hover .main-img {
  transform: scale(1.03);
}
.item-box .detail-box {
  padding: 30px 20px;
}
.item-box .detail-box .description {
  font-size: 14px;
  color: #bbb;
}
.item-box .detail-box .name {
  font-size: 18px;
  font-weight: 500;
  height: 60px;
  margin-top: 3px;
  word-break: keep-all;
}
.item-box .detail-box .sale-price,
.item-box .detail-box .sale-percent {
  font-size: 22px;
  font-weight: 600;
}
.item-box .detail-box .details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.item-box .detail-box .sale-box {
  display: flex;
}
.item-box .detail-box .sale-box .sale-percent {
  color: #f54b4b;
  margin-right: 10px;
}
.item-box .detail-box .price {
  font-size: 15px;
  color: #bbb;
  text-decoration: line-through;
}

/* VISUAL */
.visual {
  position: relative;
  height: 540px;
  background-image: url();
  background-color: #333;
  overflow: hidden;
}
.visual .youtube-area {
  width: 1920px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.visual .youtube-area video {
  width: 100%;
}
.visual .youtube-cover {
  background-image: url('/assets/img/video_cover_pattern.png');
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0.7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
.visual .youtube-cover .text {
  width: 100%;
  max-width: 1280px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 12.5em;
}
.visual .youtube-cover .text h2 {
  color: #fff;
  font-weight: 100;
  text-align: left;
}

/* PICK 섹션 */
#pick {
  margin-top: 50px;
}
#pick .tab-box {
  width: 100%;
  height: 45px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}

/* 배너 섹션 */
.banner {
  margin: 40px 0;
}
.banner a {
  display: block;
  border-radius: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: 0 19%;
  background-size: cover;
  background-image: url('/assets/img/main_banner.jpg');
  padding: 50px 30px;
  color: rgba(255, 255, 255);
}
.banner a h3 {
  font-size: 30px;
  font-weight: 500;
}
.banner a div {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.banner a p {
  display: inline-block;
  font-size: 18px;
}
.banner a span {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s;
}
.banner a:hover span {
  margin-left: 20px;
}

/* ORIGIN 섹션 */
.origin-ul {
  display: flex;
  justify-content: space-between;
}
.origin-ul > li {
  width: 90%;
  height: 500px;
  margin-right: 40px;
  border-radius: 10px;
  border: 1px solid #ddd;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.origin-ul > li:last-child {
  margin-right: 0;
}
.origin-ul .img-wrap {
  position: relative;
  width: 100%;
  height: 60%;
  overflow: hidden;
  display: flex;
}
.origin-ul > li .origin-img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease-in-out;
}
.origin-ul > li:nth-child(1) .origin-img {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/img/origin_africa.jpg);
}
.origin-ul > li:nth-child(2) .origin-img {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/img/origin_latin_america.jpg);
}
.origin-ul > li:nth-child(3) .origin-img {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/img/origin_asia.jpg);
}
.origin-ul .origin-img:hover {
  transform: scale(1.05);
}
.origins .text-wrap h3 {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 34px;
  text-align: center;
  color: #fff;
  pointer-events: none;
}
.origin-ul > li > ul {
  height: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.origin-item-list {
  position: relative;
  border-radius: 10px;
  border: 1px solid #ddd;
  overflow: hidden;
}
.origin-item-list a {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prod-img {
  overflow: hidden;
}
.prod-img img {
  width: 80px;
  height: 80px;
  transition: 0.3s;
}
.origin-item-list a:hover {
  color: #288341;
}
.origin-item-list a:hover .prod-img img {
  transform: scale(1.1);
}
.origin-item-list .item-name {
  margin: 0;
  width: 53%;
  height: 100%;
  font-weight: bold;
  word-break: keep-all;
}

/* 선물추천 섹션 */
.gift {
  height: 900px;
  background-color: #f6f5ef;
  position: relative;
  transition: height 0.4s;
  margin-top: 100px;
}
.gift .swiper {
  width: 100%;
  padding: 80px 0;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.gift .swiper h2 {
  margin-bottom: 40px;
}
.gift .swiper-slide {
  height: 500px;
  opacity: 0.5;
  transition: opacity 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.gift .swiper-slide-active {
  opacity: 1;
  width: 500px;
  height: 500px;
}
.gift .swiper-slide a {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gift .swiper-slide a img {
  height: 100%;
  transition: 0.4s;
}
.gift .swiper-slide a:hover img {
  height: 105%;
}
.gift .swiper-slide-active a {
  width: 440px;
  height: 440px;
}
.gift .swiper-slide .gift-name {
  width: 100%;
  font-size: 18px;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
}
.gift .swiper-slide-active .gift-name {
  font-weight: 600;
}
.gift .swiper-slide .btn {
  margin: auto;
  position: absolute;
  bottom: 0px;
}
.gift div.swiper-pagination {
  bottom: 100px;
  left: 0;
  right: 0;
  z-index: 0;
}
.gift .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url('/assets/img/gift_slide_pager.png');
  width: 13px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}
.gift .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.gift .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url('/assets/img/gift_slide_pager_on.png');
}
.gift .swiper-prev,
.gift .swiper-next {
  width: 50px;
  height: 50px;
  outline: none;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  user-select: none;
  top: 0px;
  bottom: 0;
  margin: auto 0;
  color: #333;
}
.gift .swiper-prev {
  left: 50%;
  margin-left: -300px;
}
.gift .swiper-next {
  right: 50%;
  margin-right: -300px;
}
.gift .swiper-prev:hover,
.gift .swiper-next:hover {
  background-color: #333;
  color: #fff;
}
