/*sub-top*/
.sub-top {
	display: grid;
	grid-template-columns: 550px 700px;
	justify-content: center;
}

.sub-top-img {
	width: 550px;
	height: 550px;
}
.sub-top-img img {
	width: 550px;
	height: 550px;
}

.sub-top-detail {
	width: 700px;
	height: 550px;
	line-height: 60px;
}

.sub-top-detail .items-name {
	font-size: 32px;
	font-weight: 700;
}

.sub-top-detail .items-discount {
	font-size: 30px;
	font-weight: 700;
	color: red;
	width: 65px;
}
.sub-top-detail .items-price {
	font-size: 30px;
	font-weight: 700;
	width: 120px;

	margin-left: 20px;
}

.sub-top-detail .delivery-fee {
	font-size: 16px;
	font-weight: 500;
	color: #555;
}
.fee-info {
	margin-left: 50px;
}
.sub-top-detail .items-option {
	font-size: 16px;
	font-weight: 500;
	color: #555;
}

.grind {
	width: 500px;
	height: 35px;
	margin-left: 60px;
	font-size: 15px;
}

.buy {
	text-align: center;
	margin-top: 150px;
	font-size: 22px;
}

.cart {
	width: 300px;
	height: 70px;
	border: 1px solid #288341;
	display: inline-block;
	color: #288341;
}

.buy-now {
	width: 300px;
	height: 70px;
	border: 1px solid #288341;
	display: inline-block;
	color: #288341;
}
.cart:hover {
	background-color: #288341;
	color: #fff;
}

.buy-now:hover {
	background-color: #288341;
	color: #fff;
}

/*tab*/

.tab {
	overflow: hidden;

	background-color: #fff;
	display: block;
}
.tab button {
	width: 400px;
	height: 50px;
	background-color: #fff;
	flex-direction: row;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px 20px;
	transition: background-color 0.3s ease;
	font-size: 24px;
	font-weight: 700;
}

.tab button.active {
	background-color: #2883414;
}

.tabcontent {
	display: none;
	padding: 20px;
	border: 1px solid #ccc;
	background-color: #fff;
}

.tabcontent.active {
	display: block;
}

.tab1 {
	width: 880px;
}
