/* tab공통 */
.tab {
    width: 280px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #eee;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    transition: 0.4s;
  }
  .tab-label.on .tab{
    border: 1px solid #288341;
    color: #288341;
  }
  .tab-label input{
    display: none;
  }
  .tab-label.main{
    margin-right: 10px;
  }
  .tab-label.main:last-child{
    margin-right: 0;
  }
  .tab > div{
    margin-right: 15px;
  }
  /* tab - 메인메뉴*/
  .tab.tab--main{
    width: 180px;
    border-radius: 30px;
    background-color: #eee;
  }
  .tab.tab--main.on{
    background-color: #288341;
    color: #fff;
  }
  .tab.tab--main > div{
    display: none;
  }
  .tab.tab--main > p{
    margin: auto;
  }
  