/* ORIGIN SECTION */
.origin-ul {
  display: flex;
  justify-content: space-between;
}
.origin-ul > li {
  width: 90%;
  height: 500px;
  margin-right: 40px;
  border-radius: 10px;
  border: 1px solid #ddd;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.origin-ul > li:last-child {
  margin-right: 0;
}
/* item-link */
.origin-ul .item-link {
  display: block;
  position: relative;
  width: 100%;
  height: 60%;
  overflow: hidden;
  display: flex;
}
.origin-ul .item-link .origin-img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease-in-out;
}
.origin-ul > li:nth-child(1) .origin-img {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/img/origin_africa.jpg);
}
.origin-ul > li:nth-child(2) .origin-img {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/img/origin_latin_america.jpg);
}
.origin-ul > li:nth-child(3) .origin-img {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/img/origin_asia.jpg);
}
.origin-ul .origin-img:hover {
  transform: scale(1.1);
}
.origins .text-wrap h3 {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 34px;
  text-align: center;
  color: #fff;
  pointer-events: none;
}
.origin-ul > li > ul {
  height: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.origin-item-list {
  position: relative;
  border-radius: 10px;
  border: 1px solid #ddd;
}
.origin-item-list a {
  display: block;
  display: flex;
  align-items: center;
}
.prod-img {
  overflow: hidden;
}
.prod-img img {
  width: 80px;
  height: 80px;
  transition: 0.3s;
}
.origin-item-list a:hover {
  color: #288341;
}
.origin-item-list a:hover .prod-img img {
  transform: scale(1.1);
}
.origin-item-list .item-name {
  margin: 0;
  width: 53%;
  height: 100%;
  font-weight: bold;
  word-break: keep-all;
}
