section h2 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin: 40px 0;
}

.title {
  display: flex;
  position: relative;
  margin-bottom: 40px;
}
.title h2 {
  margin: auto;
}
.title a {
  position: absolute;
  display: flex;
  align-items: center;
  width: 90px;
  right: 0;
  bottom: 0;
  color: 888;
}
.title a span {
  margin-left: 5px;
  transition: 0.3s;
}
.title a:hover span {
  margin-left: 15px;
}

/* 상품 리스트 */
.item-box {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 0;
}
.item-box .item-list {
  width: 23%;
  border-radius: 10px;
  border: 1px solid #eee;
  margin-bottom: 30px;
  position: relative;
}
.item-box .item-list::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #ffffff;
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  animation: fade-out 0.3s ease-in 1 forwards;
}
@keyframes fade-out {
  from {
    opacity: 1;
    z-index: 0;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
.item-box .img-box {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.item-box .img-box .main-img {
  width: 100%;
  transition: 0.3s;
}
.item-box .item-list:hover .main-img {
  transform: scale(1.03);
}
.item-box .detail-box {
  padding: 30px 20px;
}
.item-box .detail-box .description {
  font-size: 14px;
  color: #bbb;
}
.item-box .detail-box .name {
  font-size: 18px;
  font-weight: 500;
  height: 60px;
  margin-top: 3px;
  word-break: keep-all;
}
.item-box .detail-box .sale-price,
.item-box .detail-box .sale-percent {
  font-size: 22px;
  font-weight: 600;
}
.item-box .detail-box .details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.item-box .detail-box .sale-box {
  display: flex;
}
.item-box .detail-box .sale-box .sale-percent {
  color: #f54b4b;
  margin-right: 10px;
}
.item-box .detail-box .price {
  font-size: 15px;
  color: #bbb;
  text-decoration: line-through;
}
.item-box .detail-box .cart-btn {
  border: none;
  cursor: pointer;
  background: #000;
  border-radius: 5px;
  padding: 10px;
}
.item-box .detail-box .cart-btn span {
  color: #fff;
  font-weight: 300;
}
.item-box .detail-box .cart-btn:hover span {
  color: #bbb;
}
