/* 블랙 컬러 /
:root {
  --white: #ffffff;
  --black: #000;
  --black-1: #333;
  --black-2: #5555;
  --black-3: #888;
  --black-4: #999;
  --gray-1: #bdbdbd;
  --gray-2: #ddd;
  --gray-3: #eee;
  --gray-4: #f5f5f5;
  --gray-5: #f9f9f9;
  --gray-6: #bbb;
  

}

/ 주요 컬러 */
:root {
  --green : #288341;
}