#main {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 120px;
}
#wrap {
  min-height: calc(100vh -400px);
}
.text {
  color: #000;
  font-size: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 60px;
}
#loginButton {
  width: 300px;
  height: 50px;
  background: #288341;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 50px;
  margin-top: 30px;
}
.pic {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    margin: 30px ;
}