<html>
  <head>
    <title>Test</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('components/head.html') -%>
    <!-- Custom CSS & JS -->
    <link rel="stylesheet" href="/assets/css/test.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <script defer src="/assets/js/main.js"></script>
    <script defer src="/assets/js/totop.js"></script>
  </head>
  <body>
    <section class="origins">
      <div class="inner">
        <div class="title">
          <h2>나라별 커피원두</h2>
          <a href="#">
            <strong>더보기</strong>
            <span class="material-icons">arrow_right_alt</span>
          </a>
        </div>
        <ul class="origin-ul">
          <li class="origin-list">
            <a href="#" class="origin-wrap">
              <div class="origin-img"></div>
              <div class="text-wrap">
                <h3>아프리카</h3>
              </div>
            </a>
            <ul class="origin-items">
              <li class="origin-item-list">
                <a href="#">
                  <div class="prod-img">
                    <img src="/assets/img/items/item_main_11.jpg" alt="우간다 엘곤 찬조 ToH No.2" />
                  </div>
                  <p class="item-name">탄자니아 모시 킬리만자로 롬보 AA</p>
                </a>
              </li>
              <li class="origin-item-list">
                <a href="#">
                  <div class="prod-img">
                    <img src="/assets/img/items/item_main_12.jpg" alt="우간다 엘곤 찬조 ToH No.2" />
                  </div>
                  <p class="item-name">우간다 엘곤 찬조 ToH No.2</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="origin-list">
            <a href="#" class="origin-wrap">
              <div class="origin-img"></div>
              <div class="text-wrap">
                <h3>아시아/태평양</h3>
              </div>
            </a>
            <ul class="origin-items">
              <li class="origin-item-list">
                <a href="#">
                  <div class="prod-img">
                    <img src="/assets/img/items/item_main_1.jpg" alt="인도네시아 만델링 G1 수마트라" />
                  </div>
                  <p class="item-name">인도네시아 만델링 G1 수마트라"</p>
                </a>
              </li>
              <li class="origin-item-list">
                <a href="#">
                  <div class="prod-img">
                    <img src="/assets/img/items/item_main_18.jpg" alt="예멘 모카 마타리 알 함다니" />
                  </div>
                  <p class="item-name">예멘 모카 마타리 알 함다니</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="origin-list">
            <a href="#" class="origin-wrap">
              <div class="origin-img"></div>
              <div class="text-wrap">
                <h3>중남미</h3>
              </div>
            </a>
            <ul class="origin-items">
              <li class="origin-item-list">
                <a href="#">
                  <div class="prod-img">
                    <img src="/assets/img/items/item_main_11.jpg" alt="과테말라 SHB 안티구아" />
                  </div>
                  <p class="item-name">과테말라 SHB 안티구아</p>
                </a>
              </li>
              <li class="origin-item-list">
                <a href="#">
                  <div class="prod-img">
                    <img src="/assets/img/items/item_main_3.jpg" alt="콜롬비아 수프리모 후일라" />
                  </div>
                  <p class="item-name">콜롬비아 수프리모 후일라</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
